<html>
	<head>
		<title>M.safaiyan's blog!</title>
	</head>
	<body>
		<div>
			<h1 style="text-align:center";>Hi there!</h1>
			<h2 style="text-align:center";>It works!</h2>
		</div>
		
		<div>
			<p>Let's see what happens whit these tiny divs!</p>
			<p>So i don't know what to say....!</p>
			<br />
			<p>bla bla bla ....</p>
		</div>

		<div>
			<p>Does anyone know what to put in this page?</p>
			<p><strong><a href="http://google.com">link to Google...</a></strong></p>
		</div>

		<div>
			<h2>Let's test a list</h2>
			
			<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>
		</div>


	</body>
</html>
